# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
.env
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

#manual
# Ignore node_modules folders in both Backend and Frontend
Backend/node_modules/
Frontend/node_modules/

# Ignore .env files in both Backend and Frontend
Backend/.env
Frontend/.env

